In [1]:
import pandas as pd
datename = '180101To220825'
convdataname = '{}{}{}'.format('convdata_',datename,'.csv')
pricefilename = '{}{}{}'.format('data/price_',datename,'.pkl')
premfilename = '{}{}{}'.format('data/prem_',datename,'.pkl')
sizefilename = '{}{}{}'.format('data/size_',datename,'.pkl')
day_returnfilename = '{}{}{}'.format('data/day_return_',datename,'.pkl')
price100filename = '{}{}{}'.format('data/price100_',datename,'.pkl')
prem100filename = '{}{}{}'.format('data/prem100_',datename,'.pkl')
size100filename = '{}{}{}'.format('data/size100_',datename,'.pkl')
convdataname
data=pd.read_csv(convdataname)
data  #查看基本信息

,Unnamed: 0,tickerBond,secShortNameBond,tickerEqu,tradeDate,totalSize,remainSize,closePriceBond,bondPremRatio
0,0,110030,格力转债,600185,2018-01-02,9.8,9.774980,105.400,32.2523
1,1,110030,格力转债,600185,2018-01-03,9.8,9.774980,105.460,31.8705
2,2,110030,格力转债,600185,2018-01-04,9.8,9.774980,105.600,31.8179
3,3,110030,格力转债,600185,2018-01-05,9.8,9.774980,109.340,28.7189
4,4,110030,格力转债,600185,2018-01-08,9.8,9.774770,109.760,26.7404
...,...,...,...,...,...,...,...,...,...
273857,273857,128145,日丰转债,2953,2022-08-19,3.8,3.768341,153.500,10.1103
273858,273858,128145,日丰转债,2953,2022-08-22,3.8,3.768341,150.276,13.4137
273859,273859,128145,日丰转债,2953,2022-08-23,3.8,3.768341,149.899,12.9657
273860,273860,128145,日丰转债,2953,2022-08-24,3.8,3.768321,149.583,8.7213
273861,273861,128145,日丰转债,2953,2022-08-25,3.8,3.768321,143.979,7.0349

In [2]:
#接下来需要做的是构造一个收益率矩阵，列名为转债代码，行号为交易日期。
#我们首先来构造一个收盘价的矩阵
pricedf=data[['tickerBond','tradeDate','closePriceBond']]
pricedf=pricedf.set_index(['tradeDate','tickerBond']).unstack()['closePriceBond']
pricedf.index=pd.to_datetime(pricedf.index)
#pricedf.to_pickle(pricefilename)
pricedf

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,105.40,100.09,126.64,118.08,110.44,107.550,107.17,111.53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,105.46,100.37,127.53,120.01,112.74,110.000,108.00,112.31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,105.60,100.38,127.07,120.39,114.00,111.100,110.35,112.25,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-05,109.34,101.40,130.14,123.89,114.00,112.570,112.95,113.29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-08,109.76,100.67,132.33,124.40,113.95,113.150,112.03,113.68,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-19,NaN,NaN,NaN,NaN,NaN,130.649,NaN,NaN,NaN,NaN,...,117.999,135.000,120.97,293.0,177.000,152.414,113.900,136.100,124.000,153.500
2022-08-22,NaN,NaN,NaN,NaN,NaN,130.117,NaN,NaN,NaN,NaN,...,118.777,138.030,121.23,NaN,174.650,157.040,114.582,133.960,124.420,150.276
2022-08-23,NaN,NaN,NaN,NaN,NaN,128.444,NaN,NaN,NaN,NaN,...,118.660,138.131,121.98,NaN,170.200,151.020,114.250,136.849,123.566,149.899
2022-08-24,NaN,NaN,NaN,NaN,NaN,125.486,NaN,NaN,NaN,NaN,...,116.100,134.813,120.31,NaN,158.400,146.041,113.400,131.200,122.779,149.583
2022-08-25,NaN,NaN,NaN,NaN,NaN,124.387,NaN,NaN,NaN,NaN,...,116.062,132.621,119.77,NaN,160.699,143.826,112.700,128.500,123.239,143.979

In [28]:
N=1
factor=pricedf
def selectTopN(tmp):
    tmp=tmp.copy()
    symbols=tmp.nsmallest(N).index
    tmp[:]=0
    tmp[symbols]=1
    return tmp
signal=factor.apply(selectTopN,axis=1)
signal

tickerBond,110030,110031,110032,110033,110034,110038,110039,110040,110041,110042,...,128136,128137,128138,128139,128140,128141,128142,128143,128144,128145
tradeDate,,,,,,,,,,,,,,,,,,,,,
2018-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-08-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
row=signal.loc['2018-01-02']
position = row[row>0]
position

tickerBond
128013    1.0
Name: 2018-01-02 00:00:00, dtype: float64

In [30]:
type(position)

pandas.core.series.Series

In [31]:
My_position = {}
for index in position:
    My_position[index]=1
My_position

{1.0: 1}